<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <welcome-file-list>
        <welcome-file>Artikeluebersicht.jsp</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>saveRandomArticleServlet</servlet-name>
        <url-pattern>/saveRandomArticleServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>saveRandomSupplierServlet</servlet-name>
        <url-pattern>/saveRandomSupplierServlet</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>saveRandomSupplierServlet</servlet-name>
        <servlet-class>htlinn.holzmann.server.servlets.SaveRandomSupplierServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>saveRandomArticleServlet</servlet-name>
        <servlet-class>htlinn.holzmann.server.servlets.SaveRandomArticleServlet</servlet-class>
    </servlet>
</web-app>